
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.bxs-compass{
    color: #fe424d ;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important ;
}
.container-main{
    flex: 1;
    min-height: 100vh;
}
footer{
    text-align: center;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;

}

.f-info-links a:hover{
   text-decoration: underline;
}
.f-info{
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: space-evenly;
}

/* cards */

.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}
.card img{
    border-radius: 0.5rem;
    width: 100% !important;
    object-fit: cover !important;
    height: 20rem;
}
.card img:hover{
    opacity: 0.87;
}
.card-body{
    padding: 0rem !important;
}
.card-text p{
    font-weight: 400 !important;
}
.card-text a{
    text-decoration: none;
    color: #222222;
}
.card-text a:hover{
    text-decoration: underline;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* show route */
.show-img{
    height: 30vh !important;

}
.update-btn{
    background-color: #fe424d !important;
}
.delete-btn{
    background-color: #222222 !important;
}

.show-card{
    padding: 0rem;
}

.review-card{
    margin-bottom: 2rem;
    padding: 1rem;
}
